* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("../imagens/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
}

h3 {
  display: flex;
  justify-content: center;
}
#titulo {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  color: white;
}

#explicacao {
  text-align: center;
  font-size: 1.2rem;
  color: white;


  max-height: 70%;
  border-radius: 1rem;
}

#container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  height: 100vh;
}

#info {
  font-size: 1.2rem;

  color: white;
}

.item {
  font-size: 1.1rem;
  color: white;
}

a {
  color: rgba(255, 255, 0, 0.623);
}
